.page {
   &__breadcrumbs {
   }
   &__about-info {
      @include adaptiv-value("margin-bottom", 90, 40, 1);
   }

   &__about-video {
      @include adaptiv-value("margin-bottom", 100, 40, 1);
   }

   &__about-brands {
      @include adaptiv-value("margin-bottom", 60, 40, 1);
   }

   &__about-details {
      margin-bottom: 10px;
   }
}
//========================================================================================================================================================
//========================================================================================================================================================
//========================================================================================================================================================
//========================================================================================================================================================
.breadcrumbs {
   &_about {
      @include adaptiv-value("margin-bottom", 130, 40, 1);
   }
   position: relative;
   &::after {
      content: "";
      position: absolute;
      z-index: 2;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-color: rgba(255, 255, 255, 0.5);
   }
   &_no-bg {
      &::after {
         background-color: rgba(222, 222, 222, 0.5);
      }
      .breadcrumbs__bg {
         display: none;
      }
   }

   &__container {
      position: relative;
      z-index: 3;
   }

   &__navigation {
      padding: 13px 0px;
   }

   &__list {
      display: flex;
      li {
         margin: 0px 5px 0px 0px;
         &::after {
            content: "/";
         }
         &:last-child {
            &::after {
               display: none;
            }
         }
      }
   }

   &__link {
      @extend .link;
      color: #5a5a5a;
      transition: all 0.3s ease 0s;
      @media (min-width: $md2+px) {
         &:hover {
            color: #363838;
         }
      }
   }

   &__bg {
   }

   &__title {
      position: relative;
      z-index: 3;
      text-align: center;
      font-family: "Montserrat";
      font-weight: 700;
      @include adaptiv-font(60, 38, 1);
      line-height: 80 / 60 * 100%;
      color: #363838;
      @include adaptiv-value("padding-top", 106, 6, 1);
      @include adaptiv-value("padding-bottom", 160, 70, 1);
   }

   &__image {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      img {
         object-position: 0 75%;
      }
   }
}
//========================================================================================================================================================
//========================================================================================================================================================
//========================================================================================================================================================
//========================================================================================================================================================

.about-info {
   &__container {
   }

   &__title {
      @extend .title;
      line-height: 60 / 36 * 100%;
      position: relative;
      @include adaptiv-value("padding-bottom", 20, 10, 1);
      @include adaptiv-value("margin-bottom", 25, 15, 1);
      &::after {
         content: "";
         @extend .line;
         @include adaptiv-value("width", 200, 50, 1);
      }
      @media (max-width: $md3+px) {
         text-align: center;
         &::after {
            left: 50%;
            transform: translate(-50%, 0px);
         }
      }
   }

   &__row {
      display: flex;
      justify-content: flex-end;
   }
   &__text {
      @extend .text;
      flex: 0 1 825px;
      @media (max-width: $md1+px) {
         flex: 1 1 100%;
      }
      p {
         @include adaptiv-value("margin-bottom", 20, 10, 1);
         &:last-child {
            margin: 0px 0px 0px 0px;
         }
      }
   }
}
//========================================================================================================================================================
//========================================================================================================================================================
//========================================================================================================================================================
//========================================================================================================================================================

.about-video {
   position: relative;
   &__video-row {
      padding-bottom: 21.6%;
      background-color: #000;
      min-height: 250px;
      video {
         @media (max-width: $md4+px) {
            object-fit: cover;
         }
      }
   }
   &__thumbnail {
      visibility: visible;
      opacity: 1;
      transition: all 0.3s ease 0s;
      &._active {
         visibility: hidden;
         opacity: 0;
         .about-video__control-icon {
            visibility: hidden;
            opacity: 0;
         }
      }
   }
   &__cover {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: 2;
      img {
         object-position: 0 80%;
      }
   }
   &__control {
      border-radius: 50%;
      background: rgba(54, 56, 56, 0.4);
      display: inline-flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      z-index: 3;
      @include adaptiv-value("width", 80, 60, 1);
      @include adaptiv-value("height", 80, 60, 1);
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      cursor: pointer;
      transition: all 0.3s ease 0s;
      padding: 0px 12px;
      @media (min-width: $md2+px) {
         &:hover {
            background: rgba(54, 56, 56, 0.8);
         }
      }
   }

   &__control-icon {
      display: flex;
      justify-content: center;
      align-items: center;
      flex: 1 1 auto;
      transform: translate(5%, 5%);
      visibility: visible;
      opacity: 1;
      transition: all 0.3s ease 0s;
      img {
         max-width: 100%;
      }
   }
}
//========================================================================================================================================================
//========================================================================================================================================================
//========================================================================================================================================================
//========================================================================================================================================================

.about-brands {
   &__row {
      display: flex;
      align-items: center;
      margin: 0px -6px;
      @media (max-width: $md3+px) {
         flex-wrap: wrap;
         margin: 0px 20px;
         justify-content: center;
      }
   }

   &__column {
      @include adaptiv-value("padding-right", 34, 5, 1);
      @include adaptiv-value("padding-left", 34, 5, 1);
      flex: 0 1 20%;
      @media (max-width: $md3+px) {
         flex: 0 1 33.333%;
      }
      @media (max-width: 550px) {
         flex: 0 1 50%;
         &:last-child {
            display: none;
         }
      }
      img {
         max-width: 100%;
      }
   }
}

//========================================================================================================================================================
//========================================================================================================================================================
//========================================================================================================================================================
//========================================================================================================================================================

.about-details {
   &__top {
   }

   &__container {
      display: flex;
      justify-content: flex-end;
   }

   &__top-body {
      flex: 0 1 825px;
      @media (max-width: $md1+px) {
         flex: 1 1 100%;
      }
   }

   &__title {
      @extend .title;
      line-height: 60 / 36 * 100%;
      position: relative;
      @include adaptiv-value("padding-bottom", 15, 10, 1);
      @include adaptiv-value("margin-bottom", 25, 15, 1);
      &::after {
         content: "";
         @extend .line;
         @include adaptiv-value("width", 200, 50, 1);
      }
      @media (max-width: $md3+px) {
         text-align: center;
         &::after {
            left: 50%;
            transform: translate(-50%, 0px);
         }
      }
   }

   &__text {
      @extend .text;
      @include adaptiv-value("margin-bottom", 30, 20, 1);
      @media (max-width: $md3+px) {
         text-align: center;
      }
   }

   &__bottom {
      position: relative;
   }

   &__body {
      position: relative;
      z-index: 2;
   }

   &__outer {
      overflow: visible;
      display: flex;
      justify-content: space-between;
      @media (max-width: 1300px) {
         align-items: center;
      }
   }

   &__column {
   }

   &__bg {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
   }
}

.about-details-image {
   @include adaptiv-value("margin-top", -135, 135, 0);
   @include adaptiv-value("margin-left", -225, 225, 0);
   @include adaptiv-value("margin-right", 77, -40, 0);
   flex: 0 1 432px;
   position: relative;
   @media (max-width: $md1+px) {
      display: none;
   }
   @media (max-width: 1300px) {
      margin-top: 0;
   }
   &__body {
      position: relative;
   }
   img {
      max-width: 100%;
   }
}

.about-progress {
   @include adaptiv-value("padding-bottom", 75, 20, 1);
   @include adaptiv-value("padding-top", 75, 20, 1);
   flex: 0 0 825px;
   @media (max-width: $md1+px) {
      flex: 1 1 100%;
   }
   &__progress {
      display: flex;
      flex-wrap: wrap;
   }

   &__item {
      flex: 1 1 100%;
      @include adaptiv-value("margin-bottom", 30, 15, 1);
      &:last-child {
         margin: 0px 0px 0px 0px;
      }
   }
   &__top {
      display: flex;
      justify-content: space-between;
      align-items: center;
      @include adaptiv-value("margin-bottom", 15, 10, 1);
   }

   &__title {
      @extend .subtitle;
   }

   &__percents {
      @extend .subtitle;
   }

   &__bottom {
      background-color: #fff;
      width: 100%;
      border-radius: 4px;
      overflow: hidden;
      height: 2px;
      position: relative;
   }

   &__bar {
      position: absolute;
      transition: all 0.8s ease-out 0.5s;
      width: 0%;
      height: 100%;
      top: 0;
      left: 0;
      background-color: #363838;
   }
}
