@font-face {
	font-family: "icons";
	font-display: swap;
	src: url("../fonts/icons.woff") format("woff"), url("../fonts/icons.woff2#icons") format("woff2");
	font-weight: normal;
	font-style: normal;
	font-display: block;
}
%ic {
	font-family: "icons";
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

[class^="_icon-"],
[class*=" _icon-"] {
	&:before,
	&::after {
		@extend %ic;
		display: block;
	}
}

._icon-arrow-next:after {
	content: "\e900";
}
._icon-arrow-prev:before {
	content: "\e901";
}
._icon-graphic:before {
	content: "\e902";
}
._icon-measur:before {
	content: "\e903";
}
._icon-sofa:before {
	content: "\e904";
}
._icon-mail:before {
	content: "\e905";
}
._icon-facebook:before {
	content: "\e906";
	color: #707070;
}
._icon-inst:before {
	content: "\e907";
	color: #707070;
}
._icon-pin:before {
	content: "\e908";
	color: #707070;
}
._icon-whatsapp:before {
	content: "\e909";
	color: #707070;
}
._icon-youtube:before {
	content: "\e90a";
	color: #707070;
}
._icon-video:before {
	content: "\e90b";
	color: #fff;
}
._icon-lupa:before {
	content: "\e90c";
	color: #5a5a5a;
}
