//<BUTTONS (a.btn+tab)>
// Снипет (HTML): btn

.btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 0px 60px;
    height: 40px;
    background-color: #363838;
    border-radius: 21px;
    font-weight: 600;
    font-size: 16px;
    line-height: 28 / 16 * 100%;
    color: #fff;
    transition: all 0.3s ease 0s;
    @media (min-width: 992px) {
        &:hover {
            background-color: #fff;
            color: #363838;
        }
    }
    &._fw {
        width: 100%;
    }
}
