%subtitle {
    font-family: "Montserrat";
    font-weight: 700;
    font-size: rem(16);
    line-height: math.div(22, 16);
}
%subtitle_md {
    font-family: "Montserrat";
    font-weight: 700;
    font-size: rem(20);
    line-height: math.div(24, 20);
}
%text {
    font-size: rem(16);
    line-height: math.div(27, 16);
    color: $gray_02;
}
%link {
    font-weight: 600;
    font-size: rem(14);
    line-height: math.div(28, 14);
}
%title {
    font-family: "Montserrat";
    font-weight: 700;
    @include adaptiveValue("font-size", 36, 28);
    line-height: math.div(51, 36);
}
%label {
    font-family: "Montserrat";
    font-weight: 700;
    @include adaptiveValue("font-size", 24, 20);
    line-height: math.div(38, 24);
}
%quote {
    font-style: italic;
    font-weight: 300;
    @include adaptiveValue("font-size", 24, 20);
    line-height: math.div(38, 24);
}
%line {
    position: absolute;
    bottom: 0;
    left: 0;
    height: rem(1);
    background-color: $gray_03;
}

// IDEAS ====================================================================================================

.ideas {
    &__container {
    }

    &__title {
        @extend %title;
        text-align: center;
        @include adaptiveValue("margin-bottom", 30, 20, 991.98, 479.98, 1);
        @media (min-width: $mobile) {
            max-width: rem(430);
            margin: 0 auto;
        }
    }

    &__row {
        @media (min-width: $mobile) {
            gap: rem(30);
            display: grid;
            grid-template-columns: repeat(2, 1fr);
        }
    }

    &__column {
        margin-bottom: rem(40);
    }

    &__body {
        display: flex;
        flex-direction: column;
        height: 100%;
        @media (max-width: $mobile) {
            text-align: center;
        }
    }

    &__image-ibg {
        display: flex;
        @include adaptiveValue("margin-bottom", 20, 10, 991.98, 479.98, 1);
        padding-bottom: 56.6%;
        overflow: hidden;
        img {
            transition: transform 0.3s ease 0s;
        }
        @media (any-hover: hover) {
            &:hover {
                img {
                    transform: scale(1.1);
                }
            }
        }
    }

    &__post-quote {
        @include adaptiveValue("margin-bottom", 40, 20, 991.98, 479.98, 1);
    }
    &__links {
        flex: 1 1 auto;
        margin-bottom: rem(5);
        @extend %link;
        color: $gray_04;
    }

    &__date,
    &__name,
    &__category {
        color: inherit;
        transition: color 0.3s ease 0s;
        @media (any-hover: hover) {
            &:hover {
                color: $mainColor;
            }
        }
    }

    &__label {
        @extend %label;
        transition: color 0.3s ease 0s;
        @media (any-hover: hover) {
            &:hover {
                color: $gray_04;
            }
        }
    }

    &__text {
        @extend %text;
        &_post-text {
            @include adaptiveValue("margin-bottom", 40, 30, 991.98, 479.98, 1);
        }
    }
}
