.footer {
    background-color: $light_01;
    &__container {
    }

    &__content {
        display: flex;
        @include adaptiveValue("padding-bottom", 60, 20);
        @include adaptiveValue("padding-top", 60, 20);
        @media (min-width: $mobile) {
            @include adaptiveValue("padding-right", 50, 15);
            @include adaptiveValue("margin-right", -50, 0);
            @include adaptiveValue("margin-left", -50, 0);
        }
        @media (max-width: $mobile) {
            flex-wrap: wrap;
        }
    }

    &__column {
        margin-bottom: rem(20);
        @media (max-width: $mobile) {
            flex: 1 1 100%;
            &:not(:last-child) {
                margin-bottom: rem(30);
            }
        }
    }

    &__bottom {
        background-color: $mainColor;
        padding: 0px rem(20);
        @include adaptiveValue("padding-bottom", 40, 10);
        @include adaptiveValue("padding-top", 40, 10);
        text-align: center;
    }

    &__adress {
        display: flex;
        justify-content: center;
        align-items: center;
        color: $gray_05;
        font-size: rem(16);
        line-height: math.div(28, 16);
        transition: all 0.3s ease 0s;
        @media (any-hover: hover) {
            &:hover {
                color: $white;
            }
        }
    }
}
.info-footer {
    flex: 0 1 rem(640);
    @include adaptiveValue("padding-right", 50, 0);
    @include adaptiveValue("padding-left", 50, 0);
    @media (max-width: $mobile) {
        padding: 0;
        text-align: center;
    }
    &__title {
        @extend %subtitle;
        @include adaptiveValue("margin-bottom", 15, 10);
    }

    &__text {
        @extend %text;
        @include adaptiveValue("margin-bottom", 15, 10);
        @media (min-width: $mobile) {
            @include adaptiveValue("padding-right", 60, 0);
        }
    }

    &__mail {
        @extend %link;
        display: flex;
        align-items: center;
        transition: opacity 0.3s ease 0s;
        @media (any-hover: hover) {
            &:hover {
                opacity: 0.8;
            }
        }
        @media (max-width: $mobile) {
            justify-content: center;
        }
        &::before {
            margin-right: rem(12);
        }
    }

    &__form {
        display: flex;
        @include adaptiveValue("margin-top", 22, 10);
        @media (max-width: $mobileSmall) {
            flex-wrap: wrap;
        }
    }

    &__input {
        @media (min-width: $mobileSmall) {
            margin-right: rem(10);
        }
        @media (max-width: $mobileSmall) {
            margin-bottom: rem(10);
            flex: 1 1 100%;
        }
    }

    &__btn {
        @media (max-width: $mobileSmall) {
            flex: 1 1 100%;
        }
    }
}
.links-footer {
    display: flex;
    flex: 1 1 auto;
    justify-content: space-between;
    @include adaptiveValue("padding-right", 60, 0);
    @include adaptiveValue("padding-left", 30, 20);
    @media (max-width: $tablet) {
        padding-right: 0;
    }
    @media (max-width: $mobile) {
        padding: 0;
        flex: 1 1 100%;
    }
    &__column {
        padding: 0px 20px;
        &:first-child {
            flex: 1 1 auto;
        }
        &:last-child {
            min-width: 130px;
        }
        @media (max-width: $tablet) {
            padding-right: 20px;
            padding-left: 0;
            &:last-child {
                padding: 0;
            }
        }
        @media (max-width: $mobile) {
            flex: 0 1 50%;
            &:last-child {
                min-width: none;
            }
        }
    }

    &__list {
        li {
            &:not(:last-child) {
                margin-bottom: rem(15);
            }
        }
    }

    &__link {
        display: flex;
        align-items: center;
        @extend %link;
        color: $gray_04;
        transition: color 0.3s ease 0s;
        &::before {
            color: inherit;
            font-size: rem(16);
            flex: 0 0 rem(18);
            margin-right: rem(14);
        }
        @media (any-hover: hover) {
            &:hover {
                color: $mainColor;
            }
        }
    }
    ._icon-youtube {
        &::before {
            font-size: rem(14);
        }
    }

    &__help {
        li {
            &:not(:last-child) {
                margin-bottom: rem(15);
            }
        }
    }

    &__item {
        @extend %link;
        color: $gray_04;
        @media (min-width: $tablet) {
            &:hover {
                color: $mainColor;
            }
        }
    }
}
